.serviceCard {
  padding-top: 68px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #d0cdef;
  margin: 0 15px;
  transition: all 0.3s ease-in-out;
  background-color: #2f2e48;
}

.text {
  flex: 1;
}

.text span {
  color: #d0cdef;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 38px;
  text-transform: capitalize;
  display: block;
}

.text h2 {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

.text h2 a {
  color: #faf9fe;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text h2 a:hover {
  color: #BAE900;
}

.icon {
  font-size: 20px;
  display: inline-block;
  color: #BAE900;
  transition: all 0.3s ease-in-out;
  margin-left: 15px;
  margin-top: 5px;
}

.icon:hover {
  transform: translateY(-5px);
}

.image {
  position: absolute;
  right: 0;
  top: 10px;
  z-index: -1;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.circleWrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.06);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotateAnimation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 30s linear infinite;
}

.image img {
  max-width: 60%;
  max-height: 60%;
}

/* Active card styles */
.serviceCard.active {
  border-bottom: 1px solid transparent;
}

.serviceCard.active .image {
  opacity: 1;
  visibility: visible;
}

/* Keyframes for rotation animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 767px) {
  .serviceCard {
    padding-top: 50px;
  }
  
  .text h2 {
    font-size: 24px;
  }
}

